@font-face {
    font-family: PoppinsLight;
    src: url("/fonts/Poppins-Light.ttf");
}

@font-face {
    font-family: PoppinsBlack;
    src: url("/fonts/Poppins-Black.ttf");
}

@font-face {
    font-family: PoppinsBlackItalic;
    src: url("/fonts/Poppins-BlackItalic.ttf");
}


#categoryText {
    margin-top: 50px;
    font-family: PoppinsBlackItalic;
    text-align: center;
    font-size: 35px;
}



.solo-container {
    position: relative;
    top: 0;
}


.soloTravel {
    width: 220px;
    height: 250px;
    border-radius: 15px;
    opacity: 0.75;
}


#soloText {
    position: absolute;
    top: 50%;
    left: 35%; 
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: PoppinsLight;
}

#soloText:hover {
    font-weight: bold;
    color: rgb(190, 27, 27);
}

.mount-container {
    position: relative;
    top: 0;
}

.mountTravel {
    width: 220px;
    height: 250px;
    border-radius: 15px;
    opacity: 0.75;
}

#mountText {
    position: absolute;
    top: 50%;
    left: 23%; 
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: PoppinsLight;
}

#mountText:hover {
    color: rgb(190, 27, 27);
}

.jungal-container {
    position: relative;
    top: 0;
}

.jungalTravel {
    width: 220px;
    height: 250px;
    border-radius: 15px;
    opacity: 0.75;
}

#jungalText {
    position: absolute;
    top: 50%;
    left: 23%; 
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: PoppinsLight;
}

#jungalText:hover {
    color: rgb(190, 27, 27);
}

.road-container {
    position: relative;
    top: 0;
}

.roadTravel {
    width: 220px;
    height: 250px;
    border-radius: 15px;
    opacity: 0.75;
}

#roadText {
    position: absolute;
    top: 50%;
    left: 25%; 
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: PoppinsLight;
}

#roadText:hover {
    color: rgb(190, 27, 27);
}

.Ocean-container {
    position: relative;
    top: 0;
}

.oceanTravel {
    width: 220px;
    height: 250px;
    border-radius: 15px;
    opacity: 0.75;
}

#OceanText {
    position: absolute;
    top: 50%;
    left: 25%; 
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: PoppinsLight;
}

#OceanText:hover {
    color: rgb(190, 27, 27);
}

.old-container {
    position: relative;
    top: 0;
}

.oldCity {
    width: 220px;
    height: 250px;
    border-radius: 15px;
    opacity: 0.75;
}

#oldText {
    position: absolute;
    top: 50%;
    left: 20%; 
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: PoppinsLight;
}

#oldText:hover {
    color: rgb(190, 27, 27);
}

.categoryTour {
    display: grid;
    grid-template-columns: auto;
    justify-content: space-around;
    margin-top: 50px;
}

.categoryPhoto-container {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    width: 100%;
}

