* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #202124;
}

li:not(.bentoStyle) {
    float: left;
    margin: 10px;
    list-style-type: none;
    text-align: center;
}

.bentoStyle {
    display: flex;
    margin: 10px;
    float: left;
}

li a {
    text-decoration: none;
    padding: 10px ;
    display: flex;
    font-family: sans-serif;
    color: #fff;
}

li a:hover {
    text-decoration: underline;
}


#bento {
    padding: 5px ;
    display: flex;
    cursor: pointer;
    width: 50%;
    align-items: center;
    margin: auto;
}

#bento:hover {
    background-color: #3a3d41;
    border-radius: 100%;
}

#bento:active {
    background-color: #35383b;
}

li button {
    padding: 10px 25px;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid transparent;
    background: -webkit-gradient(linear, left top, left bottom, from(top), color-stop(#8ab4f8), to(#8ab4f8));
    background: -webkit-linear-gradient(top, #8ab4f8, #8ab4f8);
    background: linear-gradient(top, #8ab4f8, #8ab4f8);
    color: #202124;
    cursor: pointer;
    font-family:sans-serif;
}

li button:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(top), color-stop(#97bdfc), to(#97bdfc));
    background: -webkit-linear-gradient(top, #97bdfc, #97bdfc);
    background: linear-gradient(top, #97bdfc, #97bdfc);
}



.header-container {
    float: right;
}